.mat-mdc-table {
  width: 100%;
  max-height: 100%;
  overflow: auto;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 10%;
}
.button-container {
  display: flex;
}
.mat-icon {
  font-size: 20px;
}
.chartContainer{
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}
