.mat-mdc-form-field {
 width: 100%;
}


.mat-mdc-table {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

.mat-column-name {
  height: 100px;
}

mat-card{
  width: 100%;
  margin: 5px;
}
.example-card {
  max-width: 100%;
  margin: 5px;
}

.example-header-image {
  /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
  background-size: cover;
}

.example-container {
  width: 100%;
  margin: 5px;
  overflow: auto;
}
