<mat-progress-bar mode="indeterminate" *ngIf="(projectService.dashboardLoading$ | async)"></mat-progress-bar>

@if (projectDetails!=null && projectDetails.gsmStatusStatistics.length!=0)
{

<mat-card style="margin: 5px;">
  <mat-card-header>
    <mat-card-title>{{projectDetails.projectName}}</mat-card-title>
    <mat-card-subtitle>{{projectDetails.createdBy}} - {{projectDetails.dateFrom | date}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">

      <mat-grid-tile  *ngFor="let i of projectDetails.gsmStatusStatistics" [colspan]="( cardLayout | async )?.miniCard.cols"
      [rowspan]="( cardLayout | async )?.miniCard.rows">
      <app-card title={{i.status}}  bgColor="#E8F0F4" titleColor="#972ED1"><div>
        <app-number-counter
        [number]="i.gsmCount.toString()"
        [label]="'Rate'"
        [duration]="'0.4'"
        [total]="projectDetails.totalGSMCount.toString()"
      >
    </app-number-counter>
      </div>
    </app-card>
    </mat-grid-tile>


    <!--Charts-->

    <!-- <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Monthly Revenue">
        <app-bar></app-bar>
      </app-card>
   </mat-grid-tile> -->

   <!-- <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
    <app-card title="Monthly Revenue">
     <app-line></app-line>
    </app-card>
 </mat-grid-tile> -->

 <!-- <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
  <app-card title="Monthly Revenue">
   <app-pie></app-pie>
  </app-card>
</mat-grid-tile> -->

<!-- <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
  <app-card title="Monthly Revenue">
   <app-radar></app-radar>
  </app-card>
</mat-grid-tile> -->
    <!--Table-->

  </mat-grid-list>
  </mat-card-content>

  <mat-card-actions>
  </mat-card-actions>

</mat-card>


}
@else if(projectDetails!=null && projectDetails.gsmStatusStatistics.length==0) {

  <div style="text-align: center;">
  <h3 style="color: red;">No data found</h3>
  </div>
}
    <!-- <mat-card style="margin: 5px; overflow:auto;display: flex;">
      <app-data-table></app-data-table>
    </mat-card> -->

    <div style="text-align: center;position: fixed;bottom: 3px;width: 100%;">
      <button style="height: 40px;" mat-raised-button color="primary" (click)="openBottomSheet()">
         Dashboard Filter
        <mat-icon>filter_list</mat-icon>

      </button>

    </div>
