

  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">


     @if (projectDetails!=null)
     {
      <mat-grid-tile  *ngFor="let i of projectDetails.gSMStatusStatistics" [colspan]="( cardLayout | async )?.miniCard.cols"
      [rowspan]="( cardLayout | async )?.miniCard.rows">
      <app-card title={{i.status}}  bgColor="#E8F0F4" titleColor="#972ED1"><div>
        <app-number-counter
        [number]="i.GSMCount.toString()+'//'+projectDetails.totalGSMCount"
        [label]="'Rate'"
        [duration]="'0.4'"
      >
    </app-number-counter>
      </div>
    </app-card>
    </mat-grid-tile>
     }

    <!--Charts-->

    <!-- <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Monthly Revenue">
        <app-bar></app-bar>
      </app-card>
   </mat-grid-tile> -->

   <!-- <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
    <app-card title="Monthly Revenue">
     <app-line></app-line>
    </app-card>
 </mat-grid-tile> -->

 <!-- <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
  <app-card title="Monthly Revenue">
   <app-pie></app-pie>
  </app-card>
</mat-grid-tile> -->

<!-- <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
  <app-card title="Monthly Revenue">
   <app-radar></app-radar>
  </app-card>
</mat-grid-tile> -->
    <!--Table-->

  </mat-grid-list>


    <!-- <mat-card style="margin: 5px; overflow:auto;display: flex;">
      <app-data-table></app-data-table>
    </mat-card> -->

    <div style="text-align: center;position: fixed;bottom: 3px;width: 100%;">
      <button style="height: 40px;" mat-raised-button color="primary" (click)="openBottomSheet()">
         Dashboard Filter
        <mat-icon>filter_list</mat-icon>

      </button>

    </div>
