.counter {
  margin: 1rem;
  padding: 1rem;

  color: rgb(102, 102, 102);

  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px rgba(81, 81, 81, 0.6);
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  .label {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .number {
    font-size: 1.4rem;
    font-weight: 600;
  }

  &:hover {
    cursor: pointer;
    color: rgb(61, 60, 60);
    box-shadow: 0px 1px 3px 0px rgb(81, 81, 81);
    //background-color: rgb(248, 248, 248);
    transition: all 0.2s ease-in-out;
  }

}
